/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


:root
{
    --color-text: #fff;
    --color-bg: #171717;
    --color-link: yellow;
    /* --dynamicWidth: objectWidth - vw + vh + 150; */

}

*{
    margin: 0 !important;
    padding: 0 ;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto Slab', serif;
    
}

main{
    cursor: none;
    width: 100% !important;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    overflow: hidden !important;
}
body {

    background-color: var(--color-bg);
}

/* set page layout for cursor */
.page {
    position: absolute;
    width: 100% !important;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.page__inner {
    /* display: flex; */
    justify-content: center;
    width: 100%;
}

/* cursor styles */
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
}
.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}

/* Navigation Bar Items */

.nav {
    align-items: center;
    position: static;
    width: 100%;
    display: inline;
    display: flex;

    }
.nav li
{
  display: inline-flex;
  vertical-align: middle;
}


.nav .right
{
    width: 100%;
    text-align: right;
    margin-right: 0.5%;
    overflow-x: hidden;
}
li a{
    text-decoration: none;
}
.nav h1 {
    color: wheat;
    padding-right: 5vh;
}

.nav h1:hover{
    color: white;
    cursor: none;
    text-decoration: underline;
    text-decoration-style: transition( all 0.3s ease-in-out 0s);
}

/* styling for AYESHA ZAFAR SHEIKH element */
.ml12 {
    font-weight: 1700;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-top: 10px;
    z-index: 1000;
  }
  
  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }


/* landing page content  */
.top{
    height: 100vh;
    text-align: center;
    background-color: #171717;
    border-style: solid;
}

.pic{
    width: 60vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
#intro{
    display: inline-flex;
    text-align: center;
}
#tags{
    color:rgba(96, 87, 70,0.9);
}

.container-fluid .landingCont{
    width: 100vw !important;
    padding-top: 10vh;
    align-items: left;
    overflow: hidden;
    padding-right: 0 !important;
    overflow: hidden;
}
.box{
    color: wheat;
}

.container-fluid .row{
    width: 100% !important;
    height: 10%;
    overflow: hidden;
    align-items: left;
    text-align: left; 
    padding-right: 0% !important;
}


#txt1{
    font-size: 3.3em;
    /* overflow: wrap;  */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens 
    letter-spacing: .15em; /* Adjust as needed */
  
}
#txt2{
    font-size: 53px;
    /* overflow: wrap; */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    
}
#txt3{
    font-size: 40px;
    /* overflow: hidden;  */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
}
#txt4{
    /* padding-top: 10px; */
    font-size: 40px;
    /* overflow: hidden;  */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto;
    letter-spacing: .15em; /* Adjust as needed */

}
#txt5{
 
    font-size: 60px;
    overflow: hidden; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; 
    letter-spacing: .15em; /* Adjust as needed */
 
}
#txt6{
   
    font-size: 45px;
    overflow: hidden; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; 
    letter-spacing: .15em; /* Adjust as needed */
   
}
@media screen and (max-height: 666px) {
    #txt1{
        transform: scale(0.5);
    }
    #txt2{
        transform: scale(0.5);
    }

    #txt3{
        transform: scale(0.5);
    }
    #txt4{
        transform: scale(0.5);
    }
    #txt5{
        transform: scale(0.5);
    }
    #txt6{
        transform: scale(0.5);
    }
    .ml12{
        font-size: 2rem;
    }
}


#scroll{
    text-align: right;
    color: wheat;
    font-family: 'Roboto Slab', serif;
    
}
@media screen and (max-height: 716px) {
    #scroll{
        transform: scale(0.9);
    }
    #txt1{
        transform: scale(0.9);
        font-size: 23px;
    }
    #txt2{
        transform: scale(0.9);
        font-size: 33px;
    }

    #txt3{
        transform: scale(0.9);
        font-size: 33px;
        padding-left: 10%;
    }
    #txt4{
        transform: scale(0.9);
        font-size: 32px;
    }
    #txt5{
        transform: scale(0.9);
    }
    #txt6{
        transform: scale(0.9);
    }
    .ml12{
        font-size: 4.5rem;
    }
}
.userinfo{
    height: 10vh;
    width: 100vw;
    background-color: wheat;
    color: black;
    text-align: center;
    font-size: 30px;
}
/* Footer */
.bottom{

    text-align: center;
    background-color: #171717;
    border-style: solid;
    z-index: 1000;
    display: flex;
}
.connect{
    width: 100%;
    margin-top: 0;
    align-content: center;
}
@media screen and (max-width: 1010px) {
    .bottom{
      display: block;
    }
    
    
  }
@media screen and (max-width: 1010px) {
    .line2{
        border: 2px solid wheat;
        width: 100vw;
    }
    
}
.about{
    align-items: right;

}
#self{
    padding-top: 25vh;
    padding-bottom: 8vh;
    /* transform: scale(1.1); */
}
.form{
    width: 56vw;
    align-items: right;
    text-align: right;
    padding-top: 4vh;
    
}
.comment{
    width: 30vw;
    height: 10vh;
    background-color: rgba(96, 87, 70,0.4);
    color: wheat;
    border: none;
}
#aboutMe{
    padding-right: 20%;
    color: wheat;
    font-size: 2.3rem;
    padding-top: 5vh;
    justify-content: justify;
    text-align: right;

}
@media screen and (max-width: 1010px) {
    #aboutMe{
        padding-right: 0;
    }
}
#email{
    padding-right: 20%;
    font-weight: 200;
    font-size: 30px;
    color: wheat;
    padding-left: 200px;
    text-align: right;
}
@media screen and (max-width: 1010px) {
    #email{
        padding-right: 0;
    }
}
.icons-holder{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    /* width: 20vw; */
    justify-content: space-between;
    padding-left: 25%;
    padding-top: 3vh;
    
    
}
.icons-holder img{
    display: block;
    margin: 15px;
    height: 35px;
    position: relative;
    filter: brightness(0) invert(1);
}
.copyright{
    position: relative;
    bottom: 0;
    text-align: center;
    padding-top: 5vh;
    color: wheat;
    padding-bottom: 25%;

}

.line1{
    border: 2px solid wheat;
}

.line2{
    border: 2px solid wheat;
    width: 56vw;
}
@media screen and (max-width: 1010px) {
    .line2{
        border: 2px solid wheat;
    width: 100%;
    }
}

/* Moving Letters */
.ml11 {
    font-weight: 900;
    font-size: 7em;
    padding-top: 15%;
    color: wheat;
}

@media screen and (max-width: 720px) {
    .ml11{
        font-size: 5em;
    }
}
.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #fff;
    transform-origin: 0 50%;

}
  
.ml11 .line1 { 
    top: 0; 
    left: 0;
}
  
 .ml11 .letter {
    display: inline-block;
    line-height: 1em;
    
}

#scrollNav{
    width: 100vw;
    background-color: wheat;
    display: block;
}
#works, #prompt{
    color: black;
    text-align: center;
    padding-top:3vh;

}
#prompt{
    text-align: right;
    padding-right: 10vw;
    padding-bottom:1vh;
}

